<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_contact" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Contact</label>
            <tab>swissup</tab>
            <resource>Swissup_Contact::config_contact</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Contact Form</label>
                <field id="recipient" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact message recipient</label>
                    <frontend_model>Swissup\Contact\Block\Adminhtml\Form\Field\Recipient</frontend_model>
                    <backend_model>Swissup\Contact\Model\Config\Backend\Recipient</backend_model>
                </field>
            </group>
            <group id="callback" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Callback Form</label>
                <field id="recipient" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback request recipient</label>
                    <frontend_model>Swissup\Contact\Block\Adminhtml\Form\Field\Recipient</frontend_model>
                    <backend_model>Swissup\Contact\Model\Config\Backend\Recipient</backend_model>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
